{% extends "sub_nav.html" %}

{% block title %}Edit your account{% endblock %}

{% block content %}
<div class=" container row">
   
    <div class="col m7 s12 card">
        <div class="container">
          <form action="." method="post" enctype="multipart/form-data">
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        {% csrf_token %}
        <p><input class ="btn light-blue accent-2" type="submit" value="save update"></p>
    </form>  
        </div>   
    </div>
   
</div>
    
{% endblock %}

 {% block script %}
    <script>
        $(".close").click(function(){
    $(".customhide").fadeOut(1000);
});

    </script>
    
{% endblock %}