

{% extends "sub_nav.html" %}

{% block content %}
<div class="container">
    <div class=' row card '>
  <!--grid2-->
    <div class = 'col m6'>

        <img class="responsive-img" src="https://cms-assets.tutsplus.com/uploads/users/1604/posts/28395/image/Flat-Summer06-step4.jpg" alt="">
        
    </div>

     <div class="col s12 m6  ">
       <div>
    <h5> Verification error. </h5>
    <br>
    <p> Sorry!we could not verify your email.Please register again with your valid email.</p>
   
    
</div>

        
</div>
   
  
  
</div>


</div>

{% endblock %}

