{% load thumbnail %}
{% load el_pagination_tags %}
{%  lazy_paginate 2  comments %}
<div class="row">
  {% for comment in comments   %}
  <div class="col  s12 m12">
          <div id = "div1">
             {% thumbnail  comment.author.profile.photo "25x25" as im %}
                 <img class="circle responsive-img" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %} 
<a href="{% url 'profiledetail' username=comment.author %}">{{ comment.author}}</a>            
<p>{{comment.body}} | {{comment.created|timesince}}</p>
                
              </div>
          </div>
          {% endfor %}
          

</div>
{% show_more %}